<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.khawaja.fileshare.client.android">

    <uses-permission android:name="com.android.vending.BILLING" />

    <application android:name=".App">
        <activity
            android:label="@string/donate"
            android:name="org.khawaja.fileshare.client.android.activity.DonationActivity"
            android:theme="@style/Theme.TrebleShot.NoActionBar"
            android:parentActivityName="org.khawaja.fileshare.client.android.activity.HomeActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.khawaja.fileshare.client.android.activity.HomeActivity" />
        </activity>
    </application>
</manifest>
